EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your-email@gmail.com
EMAIL_PASSWORD=app-password (you can get it right here: https://myaccount.google.com/u/1/apppasswords)

ELASTIC_URIS=http://localhost:9200
ELASTIC_USERNAME=elastic
ELASTIC_PASSWORD=password
