services:
  postgres:
    image: "postgres:17"
    container_name: postgres_dev
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      PGPORT: ${POSTGRES_PORT}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq_dev
    ports:
      - "${RABBITMQ_NODE_PORT}:${RABBITMQ_NODE_PORT}"
      - "${RABBITMQ_MANAGEMENT_TCP_PORT}:${RABBITMQ_MANAGEMENT_TCP_PORT}"
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_PASS}
      RABBITMQ_NODE_PORT: ${RABBITMQ_NODE_PORT}
      RABBITMQ_MANAGEMENT_TCP_PORT: ${RABBITMQ_MANAGEMENT_TCP_PORT}
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 15s

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.12.0
    container_name: elasticsearch_dev
    ports:
      - "${ELASTIC_PORT}:${ELASTIC_PORT}"
      - "${ELASTIC_TRANSPORT_PORT}:${ELASTIC_TRANSPORT_PORT}"
    environment:
      ES_JAVA_OPTS: "-Xms512m -Xmx512m"
      discovery.type: single-node
      xpack.security.enabled: "false"
      xpack.security.http.ssl.enabled: "false"
      http.port: ${ELASTIC_PORT}
      transport.port: ${ELASTIC_TRANSPORT_PORT}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${ELASTIC_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    container_name: kibana_dev
    ports:
      - "${KIBANA_PORT}:${KIBANA_PORT}"
    environment:
      SERVER_PORT: ${KIBANA_PORT}
      ELASTICSEARCH_HOSTS: "http://${ELASTIC_HOST}:${ELASTIC_PORT}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${KIBANA_PORT}/api/status"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      elasticsearch:
        condition: service_healthy

  burger-order-api:
    image: "europe-west6-docker.pkg.dev/burger-order-485523/docker-repo/burger-order-api:0.0.1-SNAPSHOT"
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    depends_on:
      postgres:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: prod

      SERVER_PORT: ${SERVER_PORT}

      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

      EMAIL_HOST: ${EMAIL_HOST}
      EMAIL_PORT: ${EMAIL_PORT}
      EMAIL_USERNAME: ${EMAIL_USERNAME}
      EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      ORDER_REPORT_EMAIL_RECIPIENT: ${ORDER_REPORT_EMAIL_RECIPIENT}
      EMAIL_RETRY_DELAY: ${EMAIL_RETRY_DELAY}

      RABBITMQ_HOST: ${RABBITMQ_HOST}
      RABBITMQ_NODE_PORT: ${RABBITMQ_NODE_PORT}
      RABBITMQ_USER: ${RABBITMQ_USER}
      RABBITMQ_PASS: ${RABBITMQ_PASS}

      ELASTIC_PORT: ${ELASTIC_PORT}
      ELASTIC_HOST: ${ELASTIC_HOST}
      ELASTIC_USERNAME: ${ELASTIC_USERNAME}
      ELASTIC_PASSWORD: ${ELASTIC_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${SERVER_PORT}/ping"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 80s
