name: Deploy Burger Order API

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "pom.xml"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Google Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker for GCP
        run: |
          gcloud auth configure-docker europe-west6-docker.pkg.dev

      - name: Build and Push with Jib
        run: |
          mvn compile jib:build \
            -Djib.to.tags=latest,${{ github.sha }}
